* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#outer {
    width: 400px;
    max-width: 300px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center; */
    /* grid-template-columns: 1fr 1fr; */
    background-color: aliceblue;
    border: 1px solid blue;
    border-radius: 10px;
}

#container {
    max-width: 300px;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */   

}

#buttons {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

#input-btn { 
    margin: 5px auto 0 auto;
    width: 280px;
    height: 30px;
    border-radius: 10px;
    background-color: #3f3535;
}

button {
    width: 80px;
    height: 80px;
    background-color: #252525;
    border: none;
    color: white;
    margin-left: 2px;
    margin-top: 2px;
}

#clear {
    color: white;
    background-color: #0f8d0f;
}

#delete {
    color: white;
    background-color: rgb(179, 19, 19);
}